In [73]:
import numpy as np
import pandas as pd
import pytz
import yfinance as yf

In [74]:
TRAIN_START_DATE = '2019-01-01'
TRAIN_END_DATE = '2021-07-01'

In [101]:
time_interval=str("1D")
start_date=str(TRAIN_START_DATE)
end_date=str(TRAIN_END_DATE)
#start_date = pd.to_datetime(start_date, format='%Y-%m-%d')
#end_date = pd.to_datetime(end_date, format='%Y-%m-%d')

In [102]:
DOW_30_TICKER = [
    "AAPL",
    "MSFT",
    "JPM"
]

In [103]:
ticker_list=DOW_30_TICKER

In [104]:
data_df = pd.DataFrame()
for tic in ticker_list:
            temp_df = yf.download(tic, start=start_date, end=end_date)
            print(temp_df)
            temp_df["tic"] = tic
            print(temp_df)
            data_df = data_df.append(temp_df)
            print(data_df)

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...                ...         ...         ...         ...         ...
2021-06-24  134.449997  134.639999  132.929993  133.410004  133.016281
2021-06-25  133.460007  133.889999  132.809998  133.110001  132.717178
2021-06-28  133.410004  135.250000  133.350006  134.779999  134.382233
2021-06-29  134.800003  136.490005  134.350006  136.330002  135.927658
2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817

               Volume
Date
2018-12-31  140014000
2019-01-02  148158800
2019-01-03  365248800
2019-01-04  234428400
2019-01-07  219111200
...               ...
2021-06-24   68711000
2021-06-25   70783700
2021-06-28   62111300
2021-06-29   64556100
2021-06-30   63261400

[630 rows x 6 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...                ...         ...         ...         ...         ...
2021-06-24  134.449997  134.639999  132.929993  133.410004  133.016281
2021-06-25  133.460007  133.889999  132.809998  133.110001  132.717178
2021-06-28  133.410004  135.250000  133.350006  134.779999  134.382233
2021-06-29  134.800003  136.490005  134.350006  136.330002  135.927658
2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817

               Volume   tic
Date
2018-12-31  140014000  AAPL
2019-01-02  148158800  AAPL
2019-01-03  365248800  AAPL
2019-01-04  234428400  AAPL
2019-01-07  219111200  AAPL
...               ...   ...
2021-06-24   68711000  AAPL
2021-06-25   70783700  AAPL
2021-06-28   62111300  AAPL
2021-06-29   64556100  AAPL
2021-06-30   63261400  AAPL

[630 rows x 7 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...                ...         ...         ...         ...         ...
2021-06-24  134.449997  134.639999  132.929993  133.410004  133.016281
2021-06-25  133.460007  133.889999  132.809998  133.110001  132.717178
2021-06-28  133.410004  135.250000  133.350006  134.779999  134.382233
2021-06-29  134.800003  136.490005  134.350006  136.330002  135.927658
2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817

               Volume   tic
Date
2018-12-31  140014000  AAPL
2019-01-02  148158800  AAPL
2019-01-03  365248800  AAPL
2019-01-04  234428400  AAPL
2019-01-07  219111200  AAPL
...               ...   ...
2021-06-24   68711000  AAPL
2021-06-25   70783700  AAPL
2021-06-28   62111300  AAPL
2021-06-29   64556100  AAPL
2021-06-30   63261400  AAPL

[630 rows x 7 columns]
[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
2019-01-02   99.550003  101.750000   98.940002  101.120003   97.782417
2019-01-03  100.099998  100.190002   97.199997   97.400002   94.185211
2019-01-04   99.720001  102.510002   98.930000  101.930000   98.565689
2019-01-07  101.639999  103.269997  100.980003  102.059998   98.691399
...                ...         ...         ...         ...         ...
2021-06-24  266.160004  267.850006  265.470001  266.690002  265.694336
2021-06-25  266.230011  267.250000  264.760010  265.019989  264.030579
2021-06-28  266.190002  268.899994  265.910004  268.720001  267.716766
2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

              Volume
Date
2018-12-31  33173800
2019-01-02  35329300
2019-01-03  42579100
2019-01-04  44060600
2019-01-07  35656100
...              ...
2021-06-24  21446900
2021-06-25  25611100
2021-06-28  19590000
2021-06-29  19937800
2021-06-30  21656500

[630 rows x 6 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
2019-01-02   99.550003  101.750000   98.940002  101.120003   97.782417
2019-01-03  100.099998  100.190002   97.199997   97.400002   94.185211
2019-01-04   99.720001  102.510002   98.930000  101.930000   98.565689
2019-01-07  101.639999  103.269997  100.980003  102.059998   98.691399
...                ...         ...         ...         ...         ...
2021-06-24  266.160004  267.850006  265.470001  266.690002  265.694336
2021-06-25  266.230011  267.250000  264.760010  265.019989  264.030579
2021-06-28  266.190002  268.899994  265.910004  268.720001  267.716766
2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

              Volume   tic
Date
2018-12-31  33173800  MSFT
2019-01-02  35329300  MSFT
2019-01-03  42579100  MSFT
2019-01-04  44060600  MSFT
2019-01-07  35656100  MSFT
...              ...   ...
2021-06-24  21446900  MSFT
2021-06-25  25611100  MSFT
2021-06-28  19590000  MSFT
2021-06-29  19937800  MSFT
2021-06-30  21656500  MSFT

[630 rows x 7 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...                ...         ...         ...         ...         ...
2021-06-24  266.160004  267.850006  265.470001  266.690002  265.694336
2021-06-25  266.230011  267.250000  264.760010  265.019989  264.030579
2021-06-28  266.190002  268.899994  265.910004  268.720001  267.716766
2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

               Volume   tic
Date
2018-12-31  140014000  AAPL
2019-01-02  148158800  AAPL
2019-01-03  365248800  AAPL
2019-01-04  234428400  AAPL
2019-01-07  219111200  AAPL
...               ...   ...
2021-06-24   21446900  MSFT
2021-06-25   25611100  MSFT
2021-06-28   19590000  MSFT
2021-06-29   19937800  MSFT
2021-06-30   21656500  MSFT

[1260 rows x 7 columns]

[*********************100%***********************]  1 of 1 completed
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
2019-01-03   98.639999   98.889999   96.690002   97.110001   89.363747
2019-01-04   99.110001  100.930000   98.279999  100.690002   92.658173
2019-01-07  100.430000  101.470001   99.709999  100.760002   92.722588
...                ...         ...         ...         ...         ...
2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

              Volume
Date
2018-12-31  13237200
2019-01-02  15670900
2019-01-03  16286400
2019-01-04  16935200
2019-01-07  15430700
...              ...
2021-06-24  13733200
2021-06-25  15484900
2021-06-28  14125800
2021-06-29  14528700
2021-06-30  12531000

[630 rows x 6 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
2019-01-03   98.639999   98.889999   96.690002   97.110001   89.363747
2019-01-04   99.110001  100.930000   98.279999  100.690002   92.658173
2019-01-07  100.430000  101.470001   99.709999  100.760002   92.722588
...                ...         ...         ...         ...         ...
2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

              Volume  tic
Date
2018-12-31  13237200  JPM
2019-01-02  15670900  JPM
2019-01-03  16286400  JPM
2019-01-04  16935200  JPM
2019-01-07  15430700  JPM
...              ...  ...
2021-06-24  13733200  JPM
2021-06-25  15484900  JPM
2021-06-28  14125800  JPM
2021-06-29  14528700  JPM
2021-06-30  12531000  JPM

[630 rows x 7 columns]
                  Open        High         Low       Close   Adj Close  \
Date
2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...                ...         ...         ...         ...         ...
2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

               Volume   tic
Date
2018-12-31  140014000  AAPL
2019-01-02  148158800  AAPL
2019-01-03  365248800  AAPL
2019-01-04  234428400  AAPL
2019-01-07  219111200  AAPL
...               ...   ...
2021-06-24   13733200   JPM
2021-06-25   15484900   JPM
2021-06-28   14125800   JPM
2021-06-29   14528700   JPM
2021-06-30   12531000   JPM

[1890 rows x 7 columns]

In [105]:
data_df = data_df.reset_index()
print(data_df)

           Date        Open        High         Low       Close   Adj Close  \
0    2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1    2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2    2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3    2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4    2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...         ...         ...         ...         ...         ...         ...
1885 2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886 2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887 2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888 2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889 2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         Volume   tic
0     140014000  AAPL
1     148158800  AAPL
2     365248800  AAPL
3     234428400  AAPL
4     219111200  AAPL
...         ...   ...
1885   13733200   JPM
1886   15484900   JPM
1887   14125800   JPM
1888   14528700   JPM
1889   12531000   JPM

[1890 rows x 8 columns]

In [106]:
data_df.columns = [
                "date",
                "open",
                "high",
                "low",
                "close",
                "adjcp",
                "volume",
                "tic",
            ]
print(data_df)

           date        open        high         low       close       adjcp  \
0    2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1    2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2    2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3    2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4    2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...         ...         ...         ...         ...         ...         ...
1885 2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886 2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887 2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888 2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889 2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         volume   tic
0     140014000  AAPL
1     148158800  AAPL
2     365248800  AAPL
3     234428400  AAPL
4     219111200  AAPL
...         ...   ...
1885   13733200   JPM
1886   15484900   JPM
1887   14125800   JPM
1888   14528700   JPM
1889   12531000   JPM

[1890 rows x 8 columns]

In [107]:
data_df["day"] = data_df["date"].dt.dayofweek
print(data_df)

           date        open        high         low       close       adjcp  \
0    2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1    2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2    2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3    2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4    2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...         ...         ...         ...         ...         ...         ...
1885 2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886 2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887 2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888 2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889 2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         volume   tic  day
0     140014000  AAPL    0
1     148158800  AAPL    2
2     365248800  AAPL    3
3     234428400  AAPL    4
4     219111200  AAPL    0
...         ...   ...  ...
1885   13733200   JPM    3
1886   15484900   JPM    4
1887   14125800   JPM    0
1888   14528700   JPM    1
1889   12531000   JPM    2

[1890 rows x 9 columns]

In [108]:
data_df["date"] = data_df.date.apply(lambda x: x.strftime("%Y-%m-%d"))
print(data_df)

            date        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2     2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3     2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4     2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...          ...         ...         ...         ...         ...         ...
1885  2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886  2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887  2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         volume   tic  day
0     140014000  AAPL    0
1     148158800  AAPL    2
2     365248800  AAPL    3
3     234428400  AAPL    4
4     219111200  AAPL    0
...         ...   ...  ...
1885   13733200   JPM    3
1886   15484900   JPM    4
1887   14125800   JPM    0
1888   14528700   JPM    1
1889   12531000   JPM    2

[1890 rows x 9 columns]

In [109]:
data_df = data_df.dropna()
print(data_df)
data_df = data_df.reset_index(drop=True)
print(data_df)

            date        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2     2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3     2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4     2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...          ...         ...         ...         ...         ...         ...
1885  2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886  2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887  2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         volume   tic  day
0     140014000  AAPL    0
1     148158800  AAPL    2
2     365248800  AAPL    3
3     234428400  AAPL    4
4     219111200  AAPL    0
...         ...   ...  ...
1885   13733200   JPM    3
1886   15484900   JPM    4
1887   14125800   JPM    0
1888   14528700   JPM    1
1889   12531000   JPM    2

[1890 rows x 9 columns]
            date        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
2     2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
3     2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
4     2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...          ...         ...         ...         ...         ...         ...
1885  2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1886  2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1887  2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1888  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1889  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

         volume   tic  day
0     140014000  AAPL    0
1     148158800  AAPL    2
2     365248800  AAPL    3
3     234428400  AAPL    4
4     219111200  AAPL    0
...         ...   ...  ...
1885   13733200   JPM    3
1886   15484900   JPM    4
1887   14125800   JPM    0
1888   14528700   JPM    1
1889   12531000   JPM    2

[1890 rows x 9 columns]

In [110]:
data_df = data_df.sort_values(by=["date", "tic"]).reset_index(drop=True)
print(data_df)

            date        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
2     2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
3     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
4     2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
...          ...         ...         ...         ...         ...         ...
1885  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1886  2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
1887  2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817
1888  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504
1889  2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

         volume   tic  day
0     140014000  AAPL    0
1      13237200   JPM    0
2      33173800  MSFT    0
3     148158800  AAPL    2
4      15670900   JPM    2
...         ...   ...  ...
1885   14528700   JPM    1
1886   19937800  MSFT    1
1887   63261400  AAPL    2
1888   12531000   JPM    2
1889   21656500  MSFT    2

[1890 rows x 9 columns]

In [111]:
data=data_df

In [112]:
df = data.copy()
print(df)

            date        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
2     2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
3     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
4     2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
...          ...         ...         ...         ...         ...         ...
1885  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1886  2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
1887  2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817
1888  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504
1889  2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

         volume   tic  day
0     140014000  AAPL    0
1      13237200   JPM    0
2      33173800  MSFT    0
3     148158800  AAPL    2
4      15670900   JPM    2
...         ...   ...  ...
1885   14528700   JPM    1
1886   19937800  MSFT    1
1887   63261400  AAPL    2
1888   12531000   JPM    2
1889   21656500  MSFT    2

[1890 rows x 9 columns]

In [113]:
df = df.rename(columns={"date": "time"})
print(df)

            time        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
1     2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
2     2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
3     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
4     2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
...          ...         ...         ...         ...         ...         ...
1885  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1886  2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
1887  2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817
1888  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504
1889  2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

         volume   tic  day
0     140014000  AAPL    0
1      13237200   JPM    0
2      33173800  MSFT    0
3     148158800  AAPL    2
4      15670900   JPM    2
...         ...   ...  ...
1885   14528700   JPM    1
1886   19937800  MSFT    1
1887   63261400  AAPL    2
1888   12531000   JPM    2
1889   21656500  MSFT    2

[1890 rows x 9 columns]

In [115]:
tic_list = np.unique(df.tic.values)
print(tic_list)

['AAPL' 'JPM' 'MSFT']

In [128]:
    def get_trading_days(start, end):
        nyse = tc.get_calendar("NYSE")
        df = nyse.sessions_in_range(
            pd.Timestamp(start, tz=pytz.UTC), pd.Timestamp(end, tz=pytz.UTC)
        )
        trading_days = []
        for day in df:
            trading_days.append(str(day)[:10])

        return trading_days

In [131]:
!pip install exchange_calendars
import exchange_calendars as tc

Collecting exchange_calendars
  Using cached exchange_calendars-3.5-py3-none-any.whl
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from exchange_calendars) (1.18.5)
Requirement already satisfied: pandas>=1.1 in d:\anaconda\lib\site-packages (from exchange_calendars) (1.2.4)
Requirement already satisfied: python-dateutil in d:\anaconda\lib\site-packages (from exchange_calendars) (2.8.1)
Requirement already satisfied: pyluach in d:\anaconda\lib\site-packages (from exchange_calendars) (1.3.0)
Requirement already satisfied: korean-lunar-calendar in d:\anaconda\lib\site-packages (from exchange_calendars) (0.2.1)
Requirement already satisfied: toolz in d:\anaconda\lib\site-packages (from exchange_calendars) (0.11.1)
Requirement already satisfied: pytz in d:\anaconda\lib\site-packages (from exchange_calendars) (2021.1)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil->exchange_calendars) (1.15.0)
Installing collected packages: exchange-calendars
Successfully installed exchange-calendars-3.5

In [133]:
trading_days = get_trading_days(start=start_date, end=end_date)
print(trading_days)

['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22', '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12', '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22', '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29', '2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05', '2019-04-08', '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-15', '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20', '2019-06-21', '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27', '2019-06-28', '2019-07-01', '2019-07-02', '2019-07-03', '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02', '2019-08-05', '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30', '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20', '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-30', '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04', '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18', '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-29', '2019-12-02', '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31', '2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28', '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04', '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01']

In [135]:
print(time_interval)

1D

In [137]:
tic_list = np.unique(df.tic.values)
print(df.tic.values)
print(tic_list)

['AAPL' 'JPM' 'MSFT' ... 'AAPL' 'JPM' 'MSFT']
['AAPL' 'JPM' 'MSFT']

In [138]:
if time_interval == "1D":
            times = trading_days
            print(times)

['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17', '2019-01-18', '2019-01-22', '2019-01-23', '2019-01-24', '2019-01-25', '2019-01-28', '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01', '2019-02-04', '2019-02-05', '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-11', '2019-02-12', '2019-02-13', '2019-02-14', '2019-02-15', '2019-02-19', '2019-02-20', '2019-02-21', '2019-02-22', '2019-02-25', '2019-02-26', '2019-02-27', '2019-02-28', '2019-03-01', '2019-03-04', '2019-03-05', '2019-03-06', '2019-03-07', '2019-03-08', '2019-03-11', '2019-03-12', '2019-03-13', '2019-03-14', '2019-03-15', '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21', '2019-03-22', '2019-03-25', '2019-03-26', '2019-03-27', '2019-03-28', '2019-03-29', '2019-04-01', '2019-04-02', '2019-04-03', '2019-04-04', '2019-04-05', '2019-04-08', '2019-04-09', '2019-04-10', '2019-04-11', '2019-04-12', '2019-04-15', '2019-04-16', '2019-04-17', '2019-04-18', '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26', '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06', '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-13', '2019-05-14', '2019-05-15', '2019-05-16', '2019-05-17', '2019-05-20', '2019-05-21', '2019-05-22', '2019-05-23', '2019-05-24', '2019-05-28', '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-03', '2019-06-04', '2019-06-05', '2019-06-06', '2019-06-07', '2019-06-10', '2019-06-11', '2019-06-12', '2019-06-13', '2019-06-14', '2019-06-17', '2019-06-18', '2019-06-19', '2019-06-20', '2019-06-21', '2019-06-24', '2019-06-25', '2019-06-26', '2019-06-27', '2019-06-28', '2019-07-01', '2019-07-02', '2019-07-03', '2019-07-05', '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11', '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29', '2019-07-30', '2019-07-31', '2019-08-01', '2019-08-02', '2019-08-05', '2019-08-06', '2019-08-07', '2019-08-08', '2019-08-09', '2019-08-12', '2019-08-13', '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-19', '2019-08-20', '2019-08-21', '2019-08-22', '2019-08-23', '2019-08-26', '2019-08-27', '2019-08-28', '2019-08-29', '2019-08-30', '2019-09-03', '2019-09-04', '2019-09-05', '2019-09-06', '2019-09-09', '2019-09-10', '2019-09-11', '2019-09-12', '2019-09-13', '2019-09-16', '2019-09-17', '2019-09-18', '2019-09-19', '2019-09-20', '2019-09-23', '2019-09-24', '2019-09-25', '2019-09-26', '2019-09-27', '2019-09-30', '2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04', '2019-10-07', '2019-10-08', '2019-10-09', '2019-10-10', '2019-10-11', '2019-10-14', '2019-10-15', '2019-10-16', '2019-10-17', '2019-10-18', '2019-10-21', '2019-10-22', '2019-10-23', '2019-10-24', '2019-10-25', '2019-10-28', '2019-10-29', '2019-10-30', '2019-10-31', '2019-11-01', '2019-11-04', '2019-11-05', '2019-11-06', '2019-11-07', '2019-11-08', '2019-11-11', '2019-11-12', '2019-11-13', '2019-11-14', '2019-11-15', '2019-11-18', '2019-11-19', '2019-11-20', '2019-11-21', '2019-11-22', '2019-11-25', '2019-11-26', '2019-11-27', '2019-11-29', '2019-12-02', '2019-12-03', '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-09', '2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13', '2019-12-16', '2019-12-17', '2019-12-18', '2019-12-19', '2019-12-20', '2019-12-23', '2019-12-24', '2019-12-26', '2019-12-27', '2019-12-30', '2019-12-31', '2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16', '2020-01-17', '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24', '2020-01-27', '2020-01-28', '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06', '2020-02-07', '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-18', '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-24', '2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-09', '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-23', '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27', '2020-03-30', '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09', '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16', '2020-04-17', '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24', '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-04', '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14', '2020-05-15', '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22', '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29', '2020-06-01', '2020-06-02', '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29', '2020-06-30', '2020-07-01', '2020-07-02', '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17', '2020-07-20', '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-27', '2020-07-28', '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07', '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-17', '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24', '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04', '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-21', '2020-09-22', '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01', '2020-10-02', '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09', '2020-10-12', '2020-10-13', '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22', '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30', '2020-11-02', '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06', '2020-11-09', '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-16', '2020-11-17', '2020-11-18', '2020-11-19', '2020-11-20', '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-27', '2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04', '2020-12-07', '2020-12-08', '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-14', '2020-12-15', '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12', '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-19', '2021-01-20', '2021-01-21', '2021-01-22', '2021-01-25', '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29', '2021-02-01', '2021-02-02', '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-08', '2021-02-09', '2021-02-10', '2021-02-11', '2021-02-12', '2021-02-16', '2021-02-17', '2021-02-18', '2021-02-19', '2021-02-22', '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26', '2021-03-01', '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18', '2021-03-19', '2021-03-22', '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26', '2021-03-29', '2021-03-30', '2021-03-31', '2021-04-01', '2021-04-05', '2021-04-06', '2021-04-07', '2021-04-08', '2021-04-09', '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15', '2021-04-16', '2021-04-19', '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23', '2021-04-26', '2021-04-27', '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-03', '2021-05-04', '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-24', '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28', '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04', '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28', '2021-06-29', '2021-06-30', '2021-07-01']

In [144]:
     new_df = pd.DataFrame()
     for tic in tic_list:
            print(("Clean data for ") + tic)
            # create empty DataFrame using complete time index
            tmp_df = pd.DataFrame(
                columns=["open", "high", "low", "close", "adjcp", "volume"], index=times
            )
            print(tmp_df)
            # get data for current ticker
            tic_df = df[df.tic == tic]
            print(tic_df)
            # fill empty DataFrame using orginal data
            print(tic_df.shape[0])
            for i in range(tic_df.shape[0]):
                tmp_df.loc[tic_df.iloc[i]["time"]] = tic_df.iloc[i][
                    ["open", "high", "low", "close", "adjcp", "volume"]
                ]

            # if close on start date is NaN, fill data with first valid close
            # and set volume to 0.
            if str(tmp_df.iloc[0]["close"]) == "nan":
                print("NaN data on start date, fill using first valid data.")
                for i in range(tmp_df.shape[0]):
                    if str(tmp_df.iloc[i]["close"]) != "nan":
                        first_valid_close = tmp_df.iloc[i]["close"]
                        first_valid_adjclose = tmp_df.iloc[i]["adjcp"]

                tmp_df.iloc[0] = [
                    first_valid_close,
                    first_valid_close,
                    first_valid_close,
                    first_valid_close,
                    first_valid_adjclose,
                    0.0,
                ]

            # fill NaN data with previous close and set volume to 0.
            for i in range(tmp_df.shape[0]):
                if str(tmp_df.iloc[i]["close"]) == "nan":
                    previous_close = tmp_df.iloc[i - 1]["close"]
                    previous_adjcp = tmp_df.iloc[i - 1]["adjcp"]
                    if str(previous_close) == "nan":
                        raise ValueError
                    tmp_df.iloc[i] = [
                        previous_close,
                        previous_close,
                        previous_close,
                        previous_close,
                        previous_adjcp,
                        0.0,
                    ]

            # merge single ticker data to new DataFrame
            tmp_df = tmp_df.astype(float)
            tmp_df["tic"] = tic
            new_df = new_df.append(tmp_df)

            print(("Data clean for ") + tic + (" is finished."))

Clean data for AAPL
           open high  low close adjcp volume
2019-01-02  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-03  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-04  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-07  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-08  NaN  NaN  NaN   NaN   NaN    NaN
...         ...  ...  ...   ...   ...    ...
2021-06-25  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-28  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-29  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-30  NaN  NaN  NaN   NaN   NaN    NaN
2021-07-01  NaN  NaN  NaN   NaN   NaN    NaN

[630 rows x 6 columns]
            time        open        high         low       close       adjcp  \
0     2018-12-31   39.632500   39.840000   39.119999   39.435001   38.282608
3     2019-01-02   38.722500   39.712502   38.557499   39.480000   38.326294
6     2019-01-03   35.994999   36.430000   35.500000   35.547501   34.508713
9     2019-01-04   36.132500   37.137501   35.950001   37.064999   35.981861
12    2019-01-07   37.174999   37.207500   36.474998   36.982498   35.901779
...          ...         ...         ...         ...         ...         ...
1875  2021-06-24  134.449997  134.639999  132.929993  133.410004  133.016281
1878  2021-06-25  133.460007  133.889999  132.809998  133.110001  132.717178
1881  2021-06-28  133.410004  135.250000  133.350006  134.779999  134.382233
1884  2021-06-29  134.800003  136.490005  134.350006  136.330002  135.927658
1887  2021-06-30  136.169998  137.410004  135.869995  136.960007  136.555817

         volume   tic  day
0     140014000  AAPL    0
3     148158800  AAPL    2
6     365248800  AAPL    3
9     234428400  AAPL    4
12    219111200  AAPL    0
...         ...   ...  ...
1875   68711000  AAPL    3
1878   70783700  AAPL    4
1881   62111300  AAPL    0
1884   64556100  AAPL    1
1887   63261400  AAPL    2

[630 rows x 9 columns]
630
Data clean for AAPL is finished.
Clean data for JPM
           open high  low close adjcp volume
2019-01-02  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-03  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-04  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-07  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-08  NaN  NaN  NaN   NaN   NaN    NaN
...         ...  ...  ...   ...   ...    ...
2021-06-25  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-28  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-29  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-30  NaN  NaN  NaN   NaN   NaN    NaN
2021-07-01  NaN  NaN  NaN   NaN   NaN    NaN

[630 rows x 6 columns]
            time        open        high         low       close       adjcp  \
1     2018-12-31   97.589996   98.809998   96.769997   97.620003   89.109406
4     2019-01-02   95.949997   99.779999   95.940002   99.309998   90.652054
7     2019-01-03   98.639999   98.889999   96.690002   97.110001   89.363747
10    2019-01-04   99.110001  100.930000   98.279999  100.690002   92.658173
13    2019-01-07  100.430000  101.470001   99.709999  100.760002   92.722588
...          ...         ...         ...         ...         ...         ...
1876  2021-06-24  151.919998  153.119995  151.220001  152.509995  150.727921
1879  2021-06-25  152.589996  154.500000  151.669998  154.050003  152.249924
1882  2021-06-28  153.699997  154.479996  152.119995  154.330002  152.526642
1885  2021-06-29  155.000000  156.309998  153.610001  154.139999  152.338882
1888  2021-06-30  153.750000  156.080002  153.710007  155.539993  153.722504

        volume  tic  day
1     13237200  JPM    0
4     15670900  JPM    2
7     16286400  JPM    3
10    16935200  JPM    4
13    15430700  JPM    0
...        ...  ...  ...
1876  13733200  JPM    3
1879  15484900  JPM    4
1882  14125800  JPM    0
1885  14528700  JPM    1
1888  12531000  JPM    2

[630 rows x 9 columns]
630
Data clean for JPM is finished.
Clean data for MSFT
           open high  low close adjcp volume
2019-01-02  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-03  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-04  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-07  NaN  NaN  NaN   NaN   NaN    NaN
2019-01-08  NaN  NaN  NaN   NaN   NaN    NaN
...         ...  ...  ...   ...   ...    ...
2021-06-25  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-28  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-29  NaN  NaN  NaN   NaN   NaN    NaN
2021-06-30  NaN  NaN  NaN   NaN   NaN    NaN
2021-07-01  NaN  NaN  NaN   NaN   NaN    NaN

[630 rows x 6 columns]
            time        open        high         low       close       adjcp  \
2     2018-12-31  101.290001  102.400002  100.440002  101.570000   98.217583
5     2019-01-02   99.550003  101.750000   98.940002  101.120003   97.782417
8     2019-01-03  100.099998  100.190002   97.199997   97.400002   94.185211
11    2019-01-04   99.720001  102.510002   98.930000  101.930000   98.565689
14    2019-01-07  101.639999  103.269997  100.980003  102.059998   98.691399
...          ...         ...         ...         ...         ...         ...
1877  2021-06-24  266.160004  267.850006  265.470001  266.690002  265.694336
1880  2021-06-25  266.230011  267.250000  264.760010  265.019989  264.030579
1883  2021-06-28  266.190002  268.899994  265.910004  268.720001  267.716766
1886  2021-06-29  268.869995  271.649994  267.980011  271.399994  270.386719
1889  2021-06-30  270.690002  271.359985  269.600006  270.899994  269.888611

        volume   tic  day
2     33173800  MSFT    0
5     35329300  MSFT    2
8     42579100  MSFT    3
11    44060600  MSFT    4
14    35656100  MSFT    0
...        ...   ...  ...
1877  21446900  MSFT    3
1880  25611100  MSFT    4
1883  19590000  MSFT    0
1886  19937800  MSFT    1
1889  21656500  MSFT    2

[630 rows x 9 columns]
630
Data clean for MSFT is finished.